In [3]:
import pandas as pd
import numpy as np
from typing import List

# Task 1

In [4]:
nums = [3,2,4]
target = 6

In [5]:
class Solution:
    def twoSum(self, nums: List[int], target: int)-> List[int]:
        output=[]
        for i in range (0, len(nums)):
            for j in range (0, len(nums)):
                    if i!=j and nums[i]+nums[j]==target:
                            output=[i,j]

            
        return output

In [6]:
sol = Solution()
result = sol.twoSum(nums, target)
print(result)

[2, 1]

# Task 2

# Task 3

In [91]:
df=pd.read_csv("Salary_Dataset.csv")

Task 3.1 (No AI assitance)
Calculate the avarage salary for the Android Developers' job titles.

In [92]:
ad=df[df['Job Title']=='Android Developer']
ad['Salary'].mean()

np.float64(508105.85707244946)

Task 3.3 (AI assitance allowed) Show the Company name of the employee with the highest salary

In [1]:
top_sal=df[df['Salary'] == df['Salary'].max()]
top_sal['Company Name']

NameError: name 'df' is not defined

Task 3.2 (No AI assitance)
Show the top 5 companies with the highest avarage salary.

In [94]:
df_comp=df.groupby('Company Name')["Salary"].mean()

In [95]:
df_comp = df_comp.sort_values(ascending=False)

In [96]:
df_comp.head(5)

Company Name
Thapar University         90000000.0
FFF Enterprises            9800000.0
Digital Raju               9800000.0
Gaana Lyrics Point.com     9700000.0
GGH Heavy Industries       9600000.0
Name: Salary, dtype: float64

Task 3.4 (AI assitance allowed)
Show the top 5 cities by the amount of Full Time workers

In [101]:
df_full_time=df[df['Employment Status']=='Full Time']
df_city = df_full_time.groupby('Location')['Employment Status'].count()
df_city = df_city.sort_values(ascending=False)

# Task 5

In [102]:
roman = {
        'I': 1,
        'V': 5,
        'X': 10,
        'L': 50,
        'C': 100,
        'D': 500,
        'M': 1000
    }

In [103]:
s = "III"

In [104]:
total = 0
for i in range (len(s)):
    if i + 1 < len(s) and roman[s[i]] < roman[s[i + 1]]:
        print(roman[s[i+1]])
        total -= roman[s[i]]
    else:
        total += roman[s[i]]

In [105]:
total

3